# Python bytecode
__pycache__/
*.py[cod]
*.pyo
*.pyd
*$py.class

# Jupyter
.ipynb_checkpoints/

# Temp files
*.swp
*.swo

# Virtual environments
.venv/
venv/
env/
feature-selection/

# Dossier privé dans notebook, ignoré sauf le fichier .gitkeep pour garder le dossier dans Git
notebooks/private/*
!notebooks/private/.gitkeep